@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the shops page!</h1>
    <p class="welcome">To go to the list of shops, select the tab: Shops.</p>
</div>

